.about-container{
    
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;

    @media screen and (max-width: 800px) {
        padding-top: 0;
        
    }
    span{
        color: #118EE9;
        font-family: 'OpenSans-Light';
        font-size: 3em;
    }
    .about-content{
        
        padding-top: 50px;
        margin-left: 15%;
        margin-right: 15%; 
        @media screen and (max-width: 800px) {
            margin: 0 5px;
        }
        
        p{
            font-weight: lighter;
            font-size: 1.2em;
            text-align: left;
            
            line-height: 2em;
        }

        .maps {

            iframe{
                border:0;
            }
        }
        .contacts{
            margin: 20px;
            .contact{
                margin: 50px auto;
                h3{
                    font-style: bold;
                    text-align: left;
                }
                p{
                    line-height: 0.5em;
                }
            }
        }
    }
}