.about-container{
    
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    span{
        color: #118EE9;
        font-family: 'OpenSans-Light';
        font-size: 3em;
    }
    .about-content{
        
        padding-top: 50px;
        margin-left: 15%;
        margin-right: 15%; 
        
        
        p{
            font-weight: lighter;
            font-size: 1.2em;
            text-align: left;
            
            line-height: 2em;
        }
    }
}