.ad-container{
    
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;

    h1{
        font-size: 3em;
        font-weight: normal;
        color: #118EE9;
        font-family: 'OpenSans-Light';
        margin-bottom: 50px;
    }

    span{
        font-weight: lighter;
        margin: 10px;
        display: flex;
        text-align: left;
        font-size: 1.2em;
        line-height: 2em;
    }

    .the-images{
        display: flex;
        flex-wrap: wrap;
        padding-top: 50px; 
        img{
            max-width: 150px;
            min-width: 100px;
            min-height: 100px;
            max-height: 150px;
            margin-left: 50px;
            margin-bottom: 50px;
            display: block;
            
        }
    }
    .ad-items{
        display: flex;
        flex-wrap: wrap;
        
        .item{
            width: 150px;
            height: 150px;
            background-color: pink;
            margin: 2px;
        }
    }
    h2{
        font-size: 3em;
        font-weight: lighter;
        color: #118EE9;
        font-family: 'OpenSans-Light';
        
    }

    h3 {
        font-size: 2.5em;
        font-weight: lighter;
        color: #118EE9;
        font-family: 'OpenSans-Light';
        display: flex;
        padding-top: 100px;
        margin: 0 auto;
        font-style: italic;
    }
    .last-span{
        margin: 0 auto;
        padding: 0;

    }
}