.container{
    width: 100%;
    display: flex;
    justify-content: space-between;  
    border-bottom: 1px solid black;

    .title-container{
        margin: 10px;
        margin-left: 50px; 
    

    span{
        margin-top: 5px;
        font: 2.5em sans-serif;
    }
                   
    }

    .nav-menus{
        margin-right: 50px;    

        .first{
          display: inline-block;
          margin-right: 50px;
            }
        
        .second{
             display: inline-block;
             button {
                 background-color: gold;
             }
            }
    }       
}
