.container{
    width: 100%;
    display: flex;
    justify-content: space-between;  
    margin-bottom: 5px;  
}

.title-container{
margin-left: 50px;
}

.nav-menus{
    margin-right: 50px;
    
}

.first{

display: inline;
background-color: blue;
}
.second{
    
    display: inline;
    padding: 0;
    background-color: orange;
}

