.header-container{
    
    height: 450px;
    
    display: flex;
    
    
   


    .banner-image{
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }
    .header-content{
        display: flex;
        flex-direction: column;
        
        
        position: absolute;
        padding-left: 75px;
        
    .header-title{
        
        padding-top: 100px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        
        
        span {
            
            display: flex;
            margin-bottom: -30px;
            font-size: 4em;
            font-weight: bold;
            font-family: 'SairaCondensed-ExtraLight';
            color: white;
        }
    }
    .header-txtbtn{
        padding-top: 30px;

        span{
            display: flex;
            font-size: 1.1em;
            font-weight: 100;
            font-family: 'OpenSans-Light';
            color: white;
        }
        Button{
            margin-top: 30px;
            display: inline-block; 
            padding: 0.6em 1em;
            border: 0.1em solid #118EE9;
            border-radius: 0.12em;
            box-sizing: border-box;
            text-decoration: none;
            font-family: 'OpenSans-Light';
            font-weight: lighter;
            color: #118EE9;
            text-align: center;
            transition: all 0.2s; 
            background-color: transparent; 
            cursor: pointer;
        }
        Button:hover{
            color: white;
            background-color: #118EE9; 
            }
    }
    }
}