.footer{
    background-color:  grey;
    height: 50px;
    
    .footer-container { 
      
      padding-top: 10px;
        span{
            color: silver;
            font-weight: lighter;
        
        }
    }
}