.homepage-container{
    width: 100%;

    .first{
        display: block;
        padding-top: 50px;
        padding-bottom: 50px;

        @media screen and (max-width: 800px) {
            margin: 5px;
        }

        span{
            font-weight: bold;
            font-size: 2.5em;
            font-family: 'OpenSans-Light';
            color: #118EE9;

            @media screen and (max-width: 800px) {
                font-size: 2em;
                
            }
        }
        .ip{
            margin-top: 10px;
            p{
                font-weight: lighter;
                width: 50%;
                margin: 0 auto;
                @media screen and (max-width: 800px) {
                    width: 80%;    
                }
            }
        }
        
    }

    .second {
        
        display: flex;
        padding-bottom: 50px;
        padding-top: 50px;
        @media screen and (max-width: 800px) {
            padding-bottom: 20px;
            padding-top: 20px;
        }

        .img{
            width: 40%;
            
            padding-top: 20px;
            padding-bottom: 20px;
            @media screen and (max-width: 800px) {
                    width: 0%; 
            }
            img{
                width: 70%;
                height: 100%;
                @media screen and (max-width: 800px) {
                   display: none;  
                }
            }
        }
        .txt{
            width: 60%;

            @media screen and (max-width: 800px) {
                width: 100%; 
                 
            }
            
            h2{
                
                color: #118EE9;
                font-family: 'OpenSans-Light';
                font-weight: bold;
                font-size: 2em;
                text-align: left;
                margin-left: 10%;

                @media screen and (max-width: 800px) {
                 font-size: 1.8em;  
                }
            }
            p{
                padding-left: 10%;
                padding-right: 10%;
                font-weight: normal;
                text-align: left;
                @media screen and (max-width: 800px) {
                    font-size: 1.2em;  
                    font-style: italic;
                    font-weight: lighter;
                    line-height: 30px;
                      
                   }
            }
            button{
                padding: 0.9em 1.5em;
                border: 0.01em solid #118EE9;
                border-radius: 0.3em;
                box-sizing: border-box;
                text-decoration: none;
                font-family: 'OpenSans-Light';
                font-weight: bolder;
                font-size: 0.9em;
                color: #118EE9;
                text-align: center;
                transition: all 0.2s; 
                background-color: transparent; 
                cursor: pointer;
                margin-top: 5%;
                display: flex;
                margin-left: 15%;

                
                @media screen and (max-width: 800px) {
                    margin: 0 auto;
                    border-radius: 1em;
                    font-size: 1.1em;
                      
                   }
            }
            button:hover{
                background-color: #118EE9;
                color: white;
            }
        }

    }

    .ash{
        background-color:  #dbdbdb;
    }

    .advert{
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: grey;
        span{
            color: silver;
            font-size: 3em;
            font-style: Italic;
            font-family: 'CocoBiker';
        }
        p{
            font-family: 'OpenSans-Light';
            font-size: 1.2em;
            color: white;
            font-weight: lighter;
            font-style: italic;
            @media screen and (max-width: 800px) {
            padding-left: 20px;    
            padding-right: 20px;
            }
        }
        button{
            padding: 0.9em 1.5em;
                border: 0.01em solid grey;
                border-radius: 0.3em;
                box-sizing: border-box;
                text-decoration: none;
                font-family: 'OpenSans-Light';
                font-weight: bold;
                font-size: 0.9em;
                color: grey;
                text-align: center;
                transition: all 0.2s; 
                background-color: white; 
                cursor: pointer;
                
                margin: 0 auto;
            }
            button:hover{
                background-color: white;
                color: grey;
        }
    }

    .header-testimonials{

        width: 100%; 
        padding-top: 30px;
        @media screen and (max-width: 800px) {
            padding-top: 0px;
           }
        h1{
            color: #118EE9;
            font-family: 'OpenSans-Light';
            color: black;
            padding-top: 20px;
            padding-bottom: 20px;
            font-weight: bold;
            font-size: 2.5em;
            
        }
        .testimonial-container{
            
            display: flex;
            flex-direction: column;
            justify-items: center;
            padding: 10px;
            padding-top: 30px;
            
            @media screen and (max-width: 800px) {
               padding: 0;
               
               }

            .testimony{
                padding-top: 5px;
                padding-bottom: 50px;
                margin: 0 auto;
                display: flex;
                flex-direction: row;
                width: 80%;
                @media screen and (max-width: 800px) {
                    width: 100%;
                    flex-direction: column;
                    
                   }
                
                img{
                    width: 10%;
                    height: 10%;
                    border-radius:50%;
                    margin-left: 10%;
                    @media screen and (max-width: 800px) {
                        margin: 0 auto;
                        width: 20%;
                        height: 20%;
                        padding: 10px 0;
                        
                       }
                }
                a{
                    
                    padding-left: 10%;
                    padding-right: 10%;
                    @media screen and (max-width: 800px) {
                        margin-top: 0px;
                        padding: 0 15px;
                        
                       }
                    span{
                        font-weight: lighter;
                        margin: 0 auto;
                        
                    }
                }
            }
           
        }
    }
}


