.homepage-container{
    width: 100%;

    .first{
        display: block;
        padding-top: 50px;
        padding-bottom: 30px;
        span{
            font-weight: normal;
            font-size: 2.5em;
            font-family: 'OpenSans-Light';
            color: #118EE9;
            margin: 10px;
        }
        p{
            font-weight: lighter;
            width: 50%;
            margin: 0 auto;

        }
    }

    .second {
        
        display: flex;
        flex-direction: horizontal;
        justify-content: space-between;

        .img{
            width: 50%;
            margin: 10px;
            
        }
        .txt{
            width: 50%;
            margin: 10px;
            
            h2,h3{
                color: #118EE9;
                font-family: 'OpenSans-Light';
                font-weight: bolder;
            }
            p{
                padding-left: 15%;
                padding-right: 15%;
                font-weight: lighter;
            }
        }

    }

    .ash{
        background-color:  #b1b1b1;
    }
}


